<app-nav></app-nav>
<main style="    margin-top: 6rem;">
    <div class="container">
      <div class="row">
  
        <div class="col-lg-3">
            <app-sidebar-usuario></app-sidebar-usuario>
        </div>
      
        <div class="col-lg-6 vstack gap-4">
        <div class="tab-content py-0 mb-0">

            <div class="tab-pane show active fade" id="nav-setting-tab-1">
            <div class="card mb-4">
                
                <div class="card-header border-0 pb-0">
                <h1 class="h5 card-title">Configuración de cuenta</h1>
                <p class="mb-0"></p>
                </div>
              
                <div class="card-body">
                <div class="row g-3">

                    <div class="col-12" *ngIf="msm_succes">
                        <div class="alert alert-success d-flex align-items-center" role="alert">
                            <div>
                                {{msm_succes}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                    <label class="form-label">Nombres</label>
                    <input type="text" class="form-control" placeholder="Nombres" name="nombres" [(ngModel)]="usuario.nombres">
                    </div>
                    <div class="col-sm-6 col-lg-4">
                    <label class="form-label">Apellidos</label>
                    <input type="text" class="form-control" placeholder="Apellidos" name="apellidos" [(ngModel)]="usuario.apellidos">
                    </div>
                    <div class="col-sm-6 col-lg-4">
                    <label class="form-label">Genero</label>
                        <select class="form-control" id="" name="genero" [(ngModel)]="usuario.genero">
                            <option value="" selected disabled>Seleccionar</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="No especificar">No especificar</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" placeholder="" readonly [value]="usuario.username">
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <label class="form-label">Profesion </label>
                        <input type="text" class="form-control" placeholder="Profesion" name="profesion" [(ngModel)]="usuario.profesion">
                    </div>
                    <div class="col-sm-6 col-lg-4">
                    <label class="form-label">Nacimiento </label>
                    <input type="date" class="form-control" name="nacimiento" [(ngModel)]="usuario.nacimiento">
                    </div>
                    
                    <div class="col-sm-6">
                    <label class="form-label">Telefono</label>
                    <input type="text" class="form-control" placeholder="Telefono" name="telefono" [(ngModel)]="usuario.telefono">
                    </div>
                    
                    <div class="col-sm-6">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" placeholder="Email" readonly [value]="usuario.email">
                   
                    </div>
                    <div class="col-12">
                    <label class="form-label">Sobre mí</label>
                    <textarea class="form-control" rows="4" placeholder="Sobre mí persona" name="descripcion" [(ngModel)]="usuario.descripcion" (keyup)="validate_descripcion()"></textarea>
                    <small>Limite de caracteres: {{usuario.descripcion.length}}</small>
                    </div>
                    <div class="col-12 text-end">
                    <button class="btn btn-sm btn-primary mb-0" (click)="update()">Guardar cambios</button>
                    </div>
                </div>
                </div>
            </div>

            </div>

            

        </div>
        </div>
  
      </div> 
    </div>
    
  
  </main>
