<app-nav></app-nav>
<main style="    margin-top: 6rem;">
    <div class="container">
      <div class="row">
  
        <div class="col-lg-3">
            <app-sidebar-usuario></app-sidebar-usuario>
        </div>
  
        <div class="col-lg-6 vstack gap-4">
        <div class="tab-content py-0 mb-0">

          <div class="card">
            <div class="card-header border-0 pb-0">
              <h5 class="card-title">Cambiar contraseña</h5>
              <p class="mb-0">See resolved goodness felicity shy civility domestic had but.</p>
            </div>
            <div class="card-body">
              <form class="row g-3">
                <div class="col-12" *ngIf="error_msm">
                  <div class="alert alert-danger" role="alert">
                    {{error_msm}}
                  </div>
                </div>
                <div class="col-12">
                  <label class="form-label">Contraseña actual</label>
                  <input type="password" class="form-control" placeholder="Contraseña actual" name="password_actual" [(ngModel)]="password_actual">
                </div>
                <div class="col-12">
                  <label class="form-label">Nueva contraseña</label>
                  <div class="input-group">
                    <input class="form-control fakepassword" type="password" id="psw-input" placeholder="Nueva contraseña" name="password_nueva" [(ngModel)]="password_nueva">
                    <span class="input-group-text p-0">
                      <i class="fakepasswordicon fa-solid fa-eye-slash cursor-pointer p-2 w-40px"></i>
                    </span>
                  </div>
                  <div id="pswmeter" class="mt-2"></div>
                  <div id="pswmeter-message" class="rounded mt-1"></div>
                </div>
                <div class="col-12">
                  <label class="form-label">Confirmación de contraseña</label>
                  <input type="password" class="form-control" placeholder="Confirmación de contraseña"  name="password_conf_nueva" [(ngModel)]="password_conf_nueva">
                </div>
                <div class="col-12 text-end">
                  <button type="button" class="btn btn-primary mb-0" (click)="actualizar()">Cambiar contraseña</button>
                </div>
              </form>
            </div>
          </div>
          
        </div>
        </div>
  
      </div> 
    </div>
  
  </main>
